//- Incorporate default page layout
extends layout.pug

//- edit page title
block title
  title= "Check Ticket"

//- insert page content
block content
  .container()
    .error
      .col-pp-100
        h1(class="big-font")= "Ask to Admin to solve your problem!"
    .row
      .col-pp-100
        a(href="/home" class="button button-outlined button-full-width h4")= "Home"

