/* All the pages */
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h2 {
  margin-top: 0.2em;
}

.ttitle {
  margin-top: 1em !important;
}

.b-logo {
  display: block;
  margin: 0 auto;
  width: 30%;
}

/* Login page */
.title {
  font-weight: 700;
}

/* Check page*/
#tck_num {
  font-size: 1.1em;
}

/* Ticket Result */
.cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.cover h1 {
  margin-top: 2.5em;
  font-size: 3em;
}
.cover p {
  font-size: 1.5em;
}
.ok {
  background-color: #00ff7f;
  color: #202020;
}
.unsold {
  background-color: #ffa500;
  color: #fefefe;
}
.error {
  background-color: #ff0000;
  color: #fefefe;
}
.noop {
  background-color: #426afb;
  color: #fefefe;
}
.btn-black {
  color: #202020 !important;
  border-color: #202020 !important;
}

/* Details Page */
.status-box {
  margin-left: 1em;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.inlined2 {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.inlined2 a {
  width: 50%;
}
.inlined2 p {
  margin: 0.5em 0;
}
.big-font {
  font-size: 1.8em;
}

/* Tickets List Page */
.inlined {
  display: inline-flex;
  align-items: baseline;
  margin-top: 1em;
  width: 100%;
  justify-content: center;
}
.inlined p {
  margin: 0 1em 0.5em;
}
.tickets-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.tickets-container div {
  margin: 0.5em;
  width: 25%;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}
.tickets-container div:hover {
  filter: brightness(90%);
}
.tickets-container div a {
  display: block;
  margin: 1em;
  color: inherit;
  text-decoration: none;
}

@media (min-width: 480px) {
  .tickets-container div {
    width: 20%;
  }
}
@media (min-width: 720px) {
  .tickets-container div {
    width: 12.5%;
  }
}
@media (min-width: 1024px) {
  .tickets-container div {
    width: 8.5%;
  }
}